extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  .wrap
  .content
    - for (var i = 1; i < 25; i++ )
      .content__item.js-item(class =`content__item--${i}`) BOX